body {
    background: url(../img/backgroundcat.png); 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  $naranja: #D25A30;
  
  .nav{
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.dropdown-item{
    background: black;
    color: white;    
}

.dropdown-menu{
    background: black;
    color: white;
}

.dropdown-item:hover{
    background:$naranja;
    color: white;
}

.navbar-toggler{
    background: $naranja; 
}

.nav-item{
    cursor: pointer;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: $naranja !important;
}

 .nav-item__loguito{
    width: auto;
    height: 75px;
    margin: auto;
    padding-right: 45px; 
}
  
 .body__404{
    margin: 5% 5%;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
 }    

.body__404__p{
    font-size: xx-large;
    text-align: center;
    color: $naranja;
}

.body__404__p1{
    font-size: larger;
    text-align: center;
    color: $naranja;
}
 
  
  .contenedor__footer {
    color: $naranja;
    background: black;
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
