body {
  background: black;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}

.dropdown-item {
  background: black;
  color: white;
}

.dropdown-menu {
  background: black;
  color: white;
}

.dropdown-item:hover {
  background: #D25A30;
  color: white;
}

.navbar-toggler {
  background: #D25A30;
}

.nav-item {
  cursor: pointer;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #D25A30 !important;
}

.nav-item__loguito {
  width: auto;
  height: 75px;
  margin: auto;
  padding-right: 45px;
}

h1 {
  margin-top: 50px;
  color: #D25A30;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  color: #D25A30;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  color: #D25A30;
  text-align: center;
}

h4 {
  color: #D25A30;
}

.contenedor__donaciones {
  width: 70%;
  max-width: 90%;
  border-radius: 3px;
  margin: auto;
  text-align: center;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: none;
  background: pink;
}

@media all and (max-width: 950px) {
  .contenedor__donaciones {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media all and (max-width: 700px) {
  .contenedor__donaciones {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.contenedor__mercadopago {
  background: whitesmoke;
  border-radius: 5px;
  width: 500px;
  height: auto;
}

@media all and (max-width: 950px) {
  .contenedor__mercadopago {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media all and (max-width: 700px) {
  .contenedor__mercadopago {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contenedor__transferencia {
  background: whitesmoke;
  border-radius: 5px;
  width: 500px;
  height: auto;
}

@media all and (max-width: 950px) {
  .contenedor__transferencia {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media all and (max-width: 700px) {
  .contenedor__transferencia {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contenedor__donaciones > div {
  display: block;
  padding: 20px;
  color: black;
  max-width: 90%;
}

.logo__banco {
  width: 200px;
  height: 120px;
}

.btn {
  color: white;
  background: #D25A30;
  border-color: #D25A30;
  display: -ms-grid;
  display: grid;
  text-decoration: none !important;
  padding: 15px;
}

.btn:hover {
  color: #52352B;
  background: #D98E73;
  border: #D98E73;
  text-decoration: none;
}

.a:hover {
  text-decoration: none;
}

.a {
  text-decoration: none;
}

.botones__mercadopago {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media all and (max-width: 950px) {
  .botones__mercadopago {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
}

@media all and (max-width: 700px) {
  .botones__mercadopago {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}

.contenedor__textodonaciones {
  margin: 15px auto;
  color: white;
  width: 75%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: large;
}

.logo__mercadopago {
  margin-top: -70px;
}

.logo__banco {
  margin-top: -10px;
}

.texto__banco {
  line-height: 0.5;
  margin-top: 25px;
}

.botones__mercadopago {
  margin-top: -30px;
}

.contenedor__footer {
  color: #D25A30;
  background: black;
  text-align: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=styledonaciones.css.map */