$naranja: #D25A30;

body{
    background: black;
    min-height: 100vh;
    flex-wrap: wrap;
}

h3{
    text-align: center;
    color: $naranja;
    margin-bottom: 20px;
}

.nav{
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.dropdown-item{
    background: black;
    color: white;    
}

.dropdown-menu{
    background: black;
    color: white;
}

.dropdown-item:hover{
    background:$naranja;
    color: white;
}

.navbar-toggler{
    background: $naranja; 
}

.nav-item{
    cursor: pointer;
}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: $naranja !important;
}

 .nav-item__loguito{
    width: auto;
    height: 75px;
    margin: auto;
    padding-right: 45px; 
}
// ACÁ PUSE MARG--LEF PERO NO ES LA IDEA ME PARECE, TIENE QUE QUEDAR CENTRADO

.carousel{
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: auto;
}

.slide{
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: auto;
}

.carousel-caption__p{
    font-size: x-large;
    margin-bottom: none;
    @media screen and (max-width: 770px){
        font-size: large;
      }
    }
    

.carousel-caption__h5{
    font-size: xx-large;

@media screen and (max-width: 770px){
    font-size: large;
  }
}

.carousel__img {
    width: 100%;
    height: auto; 
    border-radius: 5px;
}

.calls{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 70%;
    height: auto;
    background: none;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
@media all and (max-width: 1000px){
    .calls {
     grid-template-columns: 1fr;
     grid-gap: 5px;
   }
   }
   @media all and (max-width: 650px){
    .calls{
     grid-template-columns: 1fr;
     grid-gap:5px;
   }
   }

.container__cards{
    background: none;
    margin: auto;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

@media all and (max-width: 1000px){
    .container__cards {
     grid-template-columns: 1fr;
     grid-gap: 5px;
   }
   }
   @media all and (max-width: 650px){
    .container__cards{
     grid-template-columns: 1fr;
     grid-gap:5px;
   }
   }

.container__buttons{
    background: white;
    margin: auto;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 35px;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

video{
    background: white;
    border-radius: 5px;
    padding: 5px;
}

.btn{
    background: $naranja;
    border: $naranja;
    text-decoration: none;
    justify-content: center;
    padding: 20px;
}

.btn:hover{
    background: #D98E73;
    border-color: #D98E73;
    color: #52352B;
}

.btn__txt{
    color: white;
}

.btn__txt:hover{
     text-decoration: none;
     color: #52352B;
}

.container__reencuentros{
    background: none;
    width: 70%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-content: center;
    align-items: center;
    justify-items: center;
}

@media all and (max-width: 1000px){
    .container__reencuentros {
     grid-template-columns: 1fr;
     grid-gap: 5px;
   }
   }
   @media all and (max-width: 650px){
    .container__reencuentros{
     grid-template-columns: 1fr;
     grid-gap:5px;
   }
   }

.contenedor__footer{
    color: $naranja;
    background: black;
    text-align: center;;
    align-self: flex-end;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    box-sizing: border-box;
}






















